.link {
  color: $black-black;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  text-decoration: underline;

  &.-footer {
    line-height: 1.8rem;
    font-weight: 400;
    text-decoration: none;
  }

  &.-footer:hover {
    color: $gray-pig-iron;
    text-decoration: underline;
  }
}
