.top-container {
  padding: 64px 80px;
  @include mobile {
    padding: 40px 24px;
  }
  height: 452px;
  // justify-content: space-between;
  align-items: center;
  background-color: $white-jet-white;
}

.top-container > .logo {
  position: absolute;
  top: 24px;
  left: 24px;
}

.top-container > .heading-container > .heading {
  margin: 40px 0;
}
